body{
    background-color: blue;
}

header .hdbtn{
    background: (--bg02);
    border: 2px solid;
    width: 52px;
    height: 52px;
    line-height: 52px;
    color: #868988;
    font-size: 22px;
    border-radius: 50%;
    transition: all 0.3s ease;
}